body {
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        overflow-x: hidden;
      }


    
.admission2{
  height: 100px;
  width: 99%;
  background-color: #9a1e22;
  box-sizing: border-box;
  border-radius: 15px;
   margin-left: 9px;
}


.admission2 p{
  text-align: center;
  padding-top: 25px;
  color: white;
  font-weight: 750;
  font-size: 35px;
}
.about{
    display: flex;
    height:  500px  auto;
    width: 92%;
    margin-top: 25px;
    margin-left: 65px;
    border: 1px solid #9a1e22;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.about h2{
    /* color: #9a1e22;
    padding-bottom: 0%;
    padding-top: 15px; */
    color: #9a1e22;
  font-size: 1.8rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #9a1e22;
  padding-bottom: 5px;
}
.leftPart{
    width: 40%;
    padding-left: 10px;
}
.leftPart p{
    font-size: large;
    font-weight: 530;
}
.rightPart{
    width:45%;
    padding-top: 45px;
        padding-left: 20px;

}
.rightPart img{
    /* padding-top: 15px; */
    height: 73vh;
    width: 50vw;
    overflow: hidden;
    border-radius: 15px;
    
}