.footer {
  background: #fff;
  color: #333;
  border-top: 4px solid #9a1e22;
  margin-top: 30px;
  margin-bottom: 0px;
}

.footer-top {
  padding: 20px 40px;
}

.footer-columns {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-col {
  min-width: 180px;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: bold;
  color: #9a1e22;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #222;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #9a1e22;
}

.footer-contact {
  min-width: 250px;
  padding-top: 40px;
}



.footer-contact ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  line-height: 1.8;
}

.footer-contact i {
  color: #9a1e22;
  margin-right: 6px;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 0px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-icons span {
  font-weight: 500;
}

.social-icons a {
  color: #222;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #9a1e22;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-columns {
    flex-direction: column;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}